<div class="heading" id="heading">
    <button class="burger">
        <span class="burger__line burger__line--first"></span>
        <span class="burger__line burger__line--second"></span>
        <span class="burger__line burger__line--third"></span>
    </button>
    <a href="index.html" class="heading__logo-link"><span class="heading__logo">Engineering Idea</span></a>
    <ul class="heading__nav">
        <li><a href="products.html" class="heading__link">Products</a></li>
        <li><a href="technologies.html" class="heading__link">Technologies</a></li>
        <li><a href="contact.html" class="heading__link">Contact us</a></li>
    </ul>
</div>
